
    .OnLoadUP,.OnLoadDown{
        background-color: #fff;
        width:100%;
        height: 50vh;
        position:fixed;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        z-index:10;
    }

    .OnLoadUP{
        animation-name: HomeUP;
         top:0;
    }

    .OnLoadDown{
        animation-name: HomeDown;
        bottom:0;
    }

  

  @keyframes HomeUP {
      0%{
          top:0;
      }
      100%{
          top:-100%;
          background-color: rgba(255, 255, 255, 0.357);
          z-index:-1
      }
  }

  @keyframes HomeDown {
      0%{
          bottom:0;
      }
      100%{
          bottom:-100%;
          background-color: rgba(255, 255, 255, 0.357);
          z-index:-1
      }
  }

  .HomeCaption P::after{
    content:" Larry Denials|";
    font-weight:400;
    animation-name:DanielInfo;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 1.1s;
  }

  @keyframes DanielInfo {
    0%{
        content:" Larry Denials|";
    }
    1%{
        content:" Larry Denial|";
    }
    2%{
        content:" Larry Denia|";
    }
    3%{
        content:" Larry Deni|";
    }
    4%{
        content:" Larry Den|";
    }
    5%{
        content:" Larry De|";
    }
    6%{
        content:" Larry D|";
    }
    7%{
        content:" Larry |";
    }
    8%{
        content:" Larry|";
    }
    9%{
        content:" Larr|";
    }
    10%{
        content:" Lar|";
    }
    11%{
        content:" La|";
    }
    12%{
        content:" L|";
    }
    13%{
        content:" |";
    }
    14%{
        content:" D|";
    }
    15%{
        content:" De|";
    }
    16%{
        content:" Dev|";
    }
    17%{
        content:" Deve|";
    }
    18%{
        content:" Devel|";
    }
    19%{
        content:" Develo|";
    }
    20%{
        content:" Develop|";
    }
    21%{
        content:" Develope|";
    }
    22%{
        content:" Developer|";
    }
    35%{
        content:" Developer|";
    }
    36%{
        content:" Develope|";
    }
    37%{
        content:" Develop|";
    }
    38%{
        content:" Develo|";
    }
    39%{
        content:" Devel|";
    }
    40%{
        content:" Deve|";
    }
    41%{
        content:" Dev|";
    }
    42%{
        content:" De|";
    }
    43%{
        content:" D|";
    }
    44%{
        content:" |";
    }
    45%{
        content:" D|";
    }
    46%{
        content:" De|";
    }
    47%{
        content:" Des|";
    }
    48%{
        content:" Desi|";
    }
    49%{
        content:" Desig|";
    }
    50%{
        content:" Design|";
    }
    51%{
        content:" Designe|";
    }
    52%{
        content:" Designer|";
    }
    65%{
        content:" Designer|";
    }
    66%{
        content:" Designe|";
    }
    67%{
        content:" Design|";
    }
    68%{
        content:" Desig|";
    }
    69%{
        content:" Desi|";
    }
    70%{
        content:" Des|";
    }
    71%{
        content:" De|";
    }
    72%{
        content:" D|";
    }
    73%{
        content:" |";
    }
    74%{
        content:" L|";
    }
    75%{
        content:" La|";
    }
    76%{
        content:" Lar|";
    }
    77%{
        content:" Larr|";
    }
    78%{
        content:" Larry|";
    }
    79%{
        content:" Larry |";
    }
    80%{
        content:" Larry D|";
    }
    81%{
        content:" Larry Da|";
    }
    82%{
        content:" Larry Dan|";
    }
    83%{
        content:" Larry Dani|";
    }
    84%{
        content:" Larry Danie|";
    }
    85%{
        content:" Larry Daniel|";
    }
    86%{
        content:" Larry Daniels|";
    }
    100%{
        content:" Larry Daniels|";
    }
    
    
    

    
    
    

  }

  @keyframes WebPercentage {

    0%{
        background-color: var(--siteBlack);
        width:20%;

    }
    25%{
        background-color: var(--siteBlack);
        width:30%;
    }
    50%{
        background-color: var(--siteBlack);
        width:50%;
    }
    75%{
        background-color: var(--siteBlack);
        width:70%;
    }
    100%{
        background-color: var(--siteBlack);
        width:95%;
    }
}
@keyframes BRANDAnimation {

    0%{
        background-color: var(--siteBlack);
        width:20%;

    }
    25%{
        background-color: var(--siteBlack);
        width:30%;
    }
    50%{
        background-color: var(--siteBlack);
        width:50%;
    }
    75%{
        background-color: var(--siteBlack);
        width:70%;
    }
    100%{
        background-color: var(--siteBlack);
        width:80%;
    }
}
@keyframes Development {

    0%{
        background-color: var(--siteBlack);
        width:20%;

    }
    25%{
        background-color: var(--siteBlack);
        width:30%;
    }
    50%{
        background-color: var(--siteBlack);
        width:50%;
    }
    75%{
        background-color: var(--siteBlack);
        width:70%;
    }
    100%{
        background-color: var(--siteBlack);
        width:90%;
    }
}

@keyframes HappyCustomers {
    0%{
      content:"110"
    }
    10%{
      content:"200"
    }
    20%{
        content:"250"
    }
    30%{
        content:"360"
    }
    40%{
        content:"420"
    }
    50%{
        content:"480"
    }
    60%{
        content:"550"
    }
    70%{
        content:"600"
    }
    80%{
        content:"680"
    }
    90%{
        content:"770"
    }
    100%{
        content:"850"
    }



   }
   @keyframes CompleteProjects {
    0%{
      content:"20"
    }
    10%{
      content:"40"
    }
    20%{
        content:"60"
    }
    30%{
        content:"80"
    }
    40%{
        content:"90"
    }
    50%{
        content:"100"
    }
    60%{
        content:"130"
    }
    70%{
        content:"160"
    }
    80%{
        content:"190"
    }
    90%{
        content:"210"
    }
    100%{
        content:"230"
    }



   }
   @keyframes Lines {
    0%{
      content:"1000"
    }
    10%{
      content:"2201"
    }
    20%{
        content:"3023"
    }
    30%{
        content:"4637"
    }
    40%{
        content:"5000"
    }
    50%{
        content:"5638"
    }
    60%{
        content:"6003"
    }
    70%{
        content:"7360"
    }
    80%{
        content:"8390"
    }
    90%{
        content:"9200"
    }
    100%{
        content:"9450"
    }



   }
   @keyframes Downloaded {
    0%{
      content:"100"
    }
    10%{
      content:"145"
    }
    20%{
        content:"200"
    }
    30%{
        content:"267"
    }
    40%{
        content:"320"
    }
    50%{
        content:"380"
    }
    60%{
        content:"490"
    }
    70%{
        content:"530"
    }
    80%{
        content:"600"
    }
    90%{
        content:"678"
    }
    100%{
        content:"750"
    }

   }