:root{
    --siteDark:#343434;
    --siteGray:#F7F7F7;
    --siteParg:#738182;
    --siteDgray:#F4F4F4;
    --darkgray:#748082;
    --siteBlack:#1C1C1C;
}

html{
    font-family: 'Montserrat','Poppins', sans-serif;
}

.container{
    width:97%;
}

.bg-gray{
    background-color: var(--siteGray);
}

.ff-mont{
    font-family:'Montserrat', sans-serif !important;
}

.text-dGray{
    color:var(--darkgray);
}

.text-black{
    color:var(--siteBlack);
}

.bg-black{
    background-color: var(--siteBlack);
}

.bg-dSite{
    background-color: #0F2228;
}

.fs-8{
    font-size:.8rem;
}
.fs-10{
    font-size:.7rem;
}

.w-15{
    width:20%;
}

.text-site{
    color:var(--siteDark);
}
.text-gray{
    color:var(--siteParg);
}

/* Nav Section */
nav{
    z-index:3;
}
.fixedNav{
position: fixed;
background-color: #fff !important;
left:0;
color:var(--siteBlack) !important;
}

.activeLinkBlack{
    border-bottom:1px solid var(--siteBlack) !important;
}
.activeLinkWhite{
    border-bottom:1px solid #fff !important;
}
.navbar-brand{
    font-size:1.125rem;
    line-height: 1.625rem;
    /* color:#fff; */
}

.text-links{
        color:var(--siteDark) !important;
}

.nav-link{
    font-family:'Poppins', sans-serif; ;
    font-size: .875rem;
    line-height: 1.25rem;
}

.nav-link.active{
    border-bottom:1px solid #fff;
}

.nav-item{
  padding:.3rem;
}

 .nav-link {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.collapse1{
    margin-left:-12px;
    margin-right:-12px;
    background-color: #fff;
    padding:1rem;
}
    /* Nav Section */

    /* Home Section */
    #Home{
         height:100vh;
         background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)) ,url("../img/bg.jpg");
         background-size: cover;
         background-position: center center;
    }
    
  .HomeCaption{
    padding-bottom:1.5rem;
  }


    /* Home Section */

    /* About section */
    .aboutImage{
        width:80%;
        margin:auto;
    }
    .aboutImage::before{
        content: "";
        width:30px;
        height:80%;
        background-image: url("../img/dots.png");
        position: absolute;
        left:-35px;
        top:22%;
    }

    .aboutImage::after{
        content: "";
        width:85%;
        height: 30px;
        background-image: url("../img/dots.png");
        position: absolute;
        left:-35px;
        top:102%;
    }
    .progress {
        --bs-progress-height: 1.8rem;
    }
    .progress-bar{
        background-color: var(--siteBlack);
        animation-fill-mode: forwards;
        animation-duration: .3s;
        animation-delay: .3s;
    }

    .progress1{
        animation-name:WebPercentage;
    }
    .progress2{
        animation-name:BRANDAnimation ;
    }
    .progress3{
        animation-name:Development ;
    }

    .btn1:hover{
        background-color: #fff !important;
        color:var(--siteBlack) !important;
    }

    .btn2:hover,.service:hover i,#Contact i:hover{
        background-color: var(--siteBlack)!important;
        color:#fff !important;
    }

        /* About section */
        /* Servcies section */

   .section-title{
    border-bottom:1px dashed #E5E4E5;
   }



        /* Servcies section */

       /* Portfolio section */


        #Works .nav-tabs {
            --bs-nav-tabs-border-width: 0;
        } 

        #Works .nav-tabs .nav-link{
            color:var(--siteBlack)!important;
        }
        .nav{
            justify-content: center;
        }
        .nav-tabs .nav-link.active{
            background-color: transparent;
            border-color: var(--siteBlack) ;
            border-width:none none 4px;
        }

        #Works .nav-link{
            margin-right:2rem;
        }

        .portfolioBorder{
            border:5px solid #D6D4D5 
        }
       
        .work{
            opacity: 0;
            transform: translateY(5%);
            transition: all 1s;
        }
        .workLink{
            transform: translateY(50%);
            transition: all 1s;
            transition-delay: .2s;

        }
        .workTitle{
            transform: translateY(-50%);
            transition: all 1s;
            transition-delay: .2s;
        }
       .workCard:hover .work{
        opacity: 1;
        transform: translateY(0);
       }
       .workCard:hover .workLink,.workCard:hover .workTitle{
         transform: translateY(0);
       }

        /* Portfolio section */
         /* Testmonial section */
 
       .carousel-indicators [data-bs-target]{
        width:10px;
        height:10px;
        border-radius: 50%;
        background-color: var(--siteParg);
        margin-left:.5rem
       }

       .status h2::after{
        font-weight: bold;
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        animation-fill-mode: forwards;
        animation-duration: .5s;
        animation-delay: .3s;
       }

       .status1 h2::after{
        content:"110";
        animation-name:HappyCustomers;
       }
       .status2 h2::after{
        content:"20";
        animation-name:CompleteProjects;
       }
       .status3 h2::after{
        content:"1000";
        animation-name:Lines;
       }
       .status4 h2::after{
        content:"100";
        animation-name:Downloaded;
       }
       /* Testmonial section */
       /* Blog section */

     
       .owl-item{
        width:calc(100%);
        display: inline-block;

    }

    .owl-nav{
        display: none;
    }

    .owl-dots{
        display: flex;
        justify-content: center;
        margin-top:3rem;
    }
    .owl-dot{
        width:10px;
        height:10px;
        border-radius: 50%;
        background-color: var(--siteDark);
        opacity: .4;
        margin-left:.5rem;
    }

    .owl-dot.active{
        opacity: 1;
    }

     .blogImage{
        transition: all 1s;
     }
    .blogCard:hover .blogImage{
        transform: scale(1.2);
    }

     /* Blog section */
    /* Contact section */


.form-control:focus {
    color:var(--siteDark);
    background-color: var(--siteGray);
    border-color: none;
    outline: 0;
    box-shadow: none
}

    /* Contact section */




@media screen and (min-width: 768px){

    .parent{
        width:92%;
       }

    /* Nav Section */
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .collapse1{
        margin-left:0;
        margin-right:0;
        background-color: transparent;
        padding:0;
    }

    .text-links{
        color:#fff !important;
}


    .nav-item{
        padding:.8rem .6rem;
      }

  /* Nav Section */
  /* about Section */
 
    .aboutImage{
            width:90%;
                }
  /* Nav Section */
  /* Blog Section */
    .owl-item{
           width:calc(100%/2);  
                }
    
/* Blog Section */
                
}


@media screen and (min-width: 992px){

    .parent{
        width:88%;
       }

    /* Nav Section */
    .nav-item{
        padding:1.2rem;
}
  /* Nav Section */
  /* About Section */
    .aboutImage{
            width:100%;
                }
    /* About Section */
    /* Blog Section */

    .owl-item{
        width:calc(100%/3);    
         }
    
    /* Blog Section */


}

@media screen and (min-width: 1200px){
    .parent{
        width:75%;
       }
      
}
