:root{
    --siteDark:#343434;
    --siteGray:#F7F7F7;
    --siteParg:#738182;
    --siteDgray:#F4F4F4;
    --darkgray:#748082;
    --siteBlack:#1C1C1C;
}

html{
    font-family: 'Montserrat','Poppins', sans-serif;
}

.container{
    width:100%;
}

.bg-gray{
    background-color: var(--siteGray);
}

.ff-mont{
    font-family:'Montserrat', sans-serif;
}

.text-dGray{
    color:var(--darkgray);
}

.text-black{
    color:var(--siteBlack);
}

.bg-black{
    background-color: var(--siteBlack);
}

.bg-dSite{
    background-color: #0F2228;
}

.fs-8{
    font-size:.8rem;
}

.text-site{
    color:var(--siteDark);
}
.text-gray{
    color:var(--siteParg);
}

/* Nav Section */
nav{
    z-index:3;
}
.navbar-brand{
    font-family:'Montserrat', sans-serif;
    font-size:1.125rem;
    line-height: 1.625rem;
    color:#fff;
}

.nav-link{
    font-family:'Poppins', sans-serif; ;
    font-size: .875rem;
    line-height: 1.25rem;
    color:var(--siteDark) !important;
}

.nav-link.active{
    border-bottom:1px solid #fff;
}

.nav-item{
  padding:.3rem;
}

 .nav-link {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.collapse1{
    margin-left:-12px;
    margin-right:-12px;
    background-color: #fff;
    padding:1rem;
}
    /* Nav Section */

    /* Home Section */
    #Home{
         height:100vh;
         background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)) ,url("../img/bg.jpg");
         background-size: cover;
         background-position: center center;
    }
    
  .HomeCaption{
    padding-bottom:1.5rem;
  }


    /* Home Section */

    /* About section */
    .aboutImage{
        width:80%;
        margin:auto;
    }
    .aboutImage::before{
        content: "";
        width:30px;
        height:80%;
        background-image: url("../img/dots.png");
        position: absolute;
        left:-35px;
        top:22%;
    }

    .aboutImage::after{
        content: "";
        width:85%;
        height: 30px;
        background-image: url("../img/dots.png");
        position: absolute;
        left:-35px;
        top:102%;
    }
    .progress {
        --bs-progress-height: 1.5rem;
    }
    .progress-bar{
        background-color: var(--siteBlack);
        animation-fill-mode: forwards;
        animation-duration: .3s;
        animation-delay: .3s;
    }

    .progress1{
        animation-name:WebPercentage;
    }
    .progress2{
        animation-name:BRANDAnimation ;
    }
    .progress3{
        animation-name:Development ;
    }

    .btn1:hover{
        background-color: #fff !important;
        color:var(--siteBlack) !important;
    }

    .btn2:hover,.service:hover i{
        background-color: var(--siteBlack)!important;
        color:#fff !important;
    }

        /* About section */
        /* Servcies section */

   .section-title{
    border-bottom:1px dashed #E5E4E5;
   }

        /* Servcies section */




 


@media screen and (min-width: 768px){

    .parent{
        width:95%;
       }

    /* Nav Section */
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .collapse1{
        margin-left:0;
        margin-right:0;
        background-color: transparent;
        padding:0;
    }


    .nav-link{
        color:#fff !important;
    }
    .nav-item{
        padding:.8rem .6rem;
      }

  /* Nav Section */
 
    .aboutImage{
            width:90%;
                }
      
}


@media screen and (min-width: 992px){

    .parent{
        width:90%;
       }

    /* Nav Section */
    .nav-item{
        padding:1.2rem;
}
        .aboutImage{
            width:100%;
                }
    /* Nav Section */

}

@media screen and (min-width: 1200px){
    .parent{
        width:75%;
       }
}
